*{
    margin: 0;
    padding: 0;
}
body{
    /* background: url(bg.jpeg); */
    /* background-size: cover; */
    overflow: hidden;
    height: 100vh;
}
.icons{
    width: 48px;
    /* display: flex; */
}
.taskbar{
    position: absolute;
    bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
    z-index: 110;
}
.startmenu{
    position: absolute;
    /* bottom:50px ; */
    bottom: -655px;
  transition: all 0.3s ease-in;
    width: 100%;
    text-align: center;
}
.startmenu img{
    border-radius: 8px;
}
.right{
    position: absolute;
    justify-self: flex-end;
    right: 0;
    margin: 6px 0;
    height: 80%;
}